*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


:root {
  /* --fs-html: 0.595238095vw; */
  --fs-html: 0.82vw;

  /* --color: #fff; */
  --color-white: #fff;
  --color-blue: #2C62B4;
  --color-dark-blue: #0A012C;
  --color-grey: #ABAAAA;
  --color-black: #000;

  --transition: .3s;
}

html {
  font-size: 16px;
}


body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: normal;
  color: var(--color-black);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 32px;
}


.container-2 {
  width: 100%;
  max-width: 1744px;
  margin: 0 auto;
  padding: 0 32px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #00D1FF 0%, #2C62B4 100%);
  transition: box-shadow var(--transition);
}

.icon.icon--whatsapp {
  background: linear-gradient(180deg, #39AE41 0%, #80C269 100%);
}

.icon.icon--whatsapp img {
  width: 1.428rem;
  height: 1.428rem;
}

.icon.icon--telegram img{
  width: 1.3912rem;
  height: 1.1531rem;
}

.icon.icon--email img {
  width: 1.5237rem;
  height: 1.5238rem;
}

.icon.icon--telephone img {
  width: 1.25rem;
  height: 1.2831rem;
}

.icon.icon--telephone-small img {
  width: 0.875rem;
  height: 0.875rem;
}

.icon.icon--location img{
  width: 0.956rem;
  height: 1.125rem;
}

.icon.icon--email-small img{
  width: 1.0625rem;
  height: 0.875rem;
}



/* components */

.btn {
  display: inline-flex;
  justify-content: center;
  /* padding: 1.25rem 3.875rem; */
  font-size: 1.125rem;
  border-radius: 6rem;
  background: linear-gradient(270deg, #2C62B4 12.55%, rgba(14, 0, 183, 0.85) 118.03%);
  font-size: 1.125rem;
  transition: var(--transition);
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

.btn span {
  color: var(--color-white);
}

.btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:active {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 8.6875rem;
  height: 4.75rem;
  object-fit: cover;
}

.logo__text {
  color: var(--color-white);
  line-height: normal;
  margin-left: 1.5rem;
  font-size: 1rem;
}

h2 {
  font-family: 'RussoOne', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h2 span {
  color: var(--color-blue);
}

h1 {
  font-family: 'RussoOne', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}





/* header */

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.18rem 0;
  border-bottom: 0.062rem solid var(--color-white);
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
  margin-left: 7.75rem;
}
.header__contacts-item .icon:hover {
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.50) inset;
}
.header__contacts-text {
  color: var(--color-white);
}

.header__contacts-text span {
  color: var(--color-grey);
}

.header__telephone {
  display: flex;
  gap: 1.75rem;
}
.header__telephone-icon {
  order: -1;
}
.header__telephone-info {
  font-size: 1rem;
}
.header__telephone-info:hover + .header__telephone-icon .icon {
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.50) inset;
}
.header__telephone-info-link {
  margin-bottom: 0.25rem;
}

.header__telephone-info-link span {
  color: var(--color-grey);
}

.header__telephone-info-link a{
  color: var(--color-white);
}

.header__telephone-info-btn {
  color: var(--color-blue);
  font-weight: 600;
  padding-bottom: 0.2rem;
  border-bottom: 1px dotted var(--color-blue);
  transition: color var(--transition), border var(--transition);
}

.header__telephone-info-btn:hover {
  border: none;
  color: var(--color-white);
}



/* intro section */

.intro {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 16.43rem;
  padding-bottom: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__subtitle {
  font-family: 'RussoOne', sans-serif;
  font-weight: 400;
  font-size: 3.125rem;
  color: var(--color-blue);
  margin-bottom: 2.35rem;
}

.intro__list {
  max-width: 39rem;
  margin-bottom: 5.4rem;
}

.intro__list-item {
  position: relative;
  font-weight: 400;
  font-size: 2.18rem;
  color: var(--color-white);
  padding-left: 2.75rem;
  margin-bottom: 1.8rem;
}

.intro__list-item:last-child {
  margin-bottom: 0;
}

.intro__list-item::before {
  position: absolute;
  top: 1.1rem;
  left: 0.75rem;
  width: 0.37rem;
  height: 0.37rem;
  border-radius: 50%;
  background-color: var(--color-white);
  content: '';
}

.intro__desc {
  max-width: 45.6rem;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--color-white);
  margin-bottom: 0.6rem;
}




/* advantages section */

.advantages {
  padding: 6.25rem 0;
  background: linear-gradient(90deg, #170231 0.11%, #2C60B2 54.35%, #2C62B4 54.36%, #170231 97.46%);
}

.advantages__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.75rem;
}

.advantages__wrapper::before {
  position: absolute;
  top: -42rem;
  right: -21rem;
  width: 57.75rem;
  height: 61rem;
  background-image: url('../images/advantages/water.png');
  background-size: contain;
  content: '';
  z-index: 3;
}

.advantages__item {
  position: relative;
  min-height: 11.875rem;
  display: flex;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2.65rem 1rem 1.375rem 1rem;
}

.advantages__item.advantages__item--performance {
  transform: translateX(10px);
  padding: 2.65rem 1rem 1.375rem 14.68rem;
}

.advantages__item.advantages__item--performance .advantages__item-img {
  top: 0;
  left: -5rem;
  width: 19.125rem;
  height: 11.94rem;
}

.advantages__item.advantages__item--years {
  padding: 2.65rem 1rem 1.375rem 15rem;
  z-index: 2;
}

.advantages__item.advantages__item--years .advantages__item-img {
  bottom: 0;
  left: -0.8rem;
  width: 15.25rem;
  height: 15.4375rem;
}

.advantages__item.advantages__item--days {
  padding: 2.65rem 1rem 1.375rem 12.9375rem;
}

.advantages__item.advantages__item--days .advantages__item-img {
  bottom: -0.56rem;
  left: -4.1rem;
  width: 16rem;
  height: 14.875rem;
}

.advantages__item-img {
  position: absolute;
}
.advantages__item-info {
  font-family: 'RussoOne', sans-serif;
  font-weight: 400;
}
.advantages__item-info-title {
  font-size: 1.875rem;
  color: var(--color-blue);
  margin-bottom: 0.6rem;
}
.advantages__item-info-desc {
  font-size: 1.25rem;
}



/* services section */

.services {
  padding: 6.5625rem 0;
  background: linear-gradient(180deg, #F3F3F3 0%, #FFF 53.83%, rgba(240, 235, 235, 0.00) 100%);
}

.services__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__wrapper::before {
  position: absolute;
  top: -25.5rem;
  right: -30rem;
  background-image: url('../images/services/board.png');
  background-size: cover;
  width: 45rem;
  height: 37rem;
  content: '';
}

.services__wrapper::after {
  position: absolute;
  left: -27rem;
  bottom: -18rem;
  width: 50.5rem;
  height: 50.5rem;
  background-image: url('../images/services/machine.png');
  background-size: cover;
  content: '';
  z-index: 2;
}

.services h2 {
  text-align: center;
  margin-bottom: 1.875rem;
}

.services__desc {
  font-weight: 400;
  font-size: 1.875rem;
  text-align: center;
  max-width: 52.75rem;
  margin-bottom: 4.5625rem;
}

.services__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.6875rem 5.375rem;
  margin-bottom: 6.25rem;
}

.services__items.services__items--two-colm {
  max-width: 63.875rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5.375rem;
}

.services__item {
  position: relative;
  min-height: 10.5rem;
  display: flex;
  padding: 2.25rem 2.25rem 2.25rem 11.9rem;
  background-color: #190141;
  filter: drop-shadow(0px 5.947915077209473px 8.921873092651367px rgba(0, 0, 0, 0.35));
  border-radius: 0.5625rem;
}
.services__item-img {
  position: absolute;
  width: 25rem;
  height: 25rem;
  top: 50%;
  left: -8.875rem;
  transform: translateY(-50%);
}
.services__item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services__item-box-title {
  color: var(--color-white);
  font-size: 1.375rem;
  font-family: 'RussoOne', sans-serif;
  font-weight: 400;
  margin-bottom: 1.1612rem;
}
.services__item-box-simple {
  display: flex;
  align-items: center;
  width: 11.625rem;
  height: 2.5rem;
}




/* causes section */

.causes {
  position: relative;
  padding-top: 6.5625rem;
  background-color: var(--color-dark-blue);
  background-repeat: no-repeat;
  background-position: top right;
}

.causes__bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 79.8125rem;
  height: 61.4375rem;
  object-fit: contain;
}

.causes__wrapper {
  margin-left: 2.5rem;
}

.causes__title {
  display: flex;
  margin-bottom: 5.0625rem;
}

.causes__title-number {
  color: var(--color-white);
  font-weight: 700;
  font-size: 7.75rem;
  margin-right: 2.1875rem;
}

.causes h2{
  max-width: 40rem;
  font-family: 'RussoOne', sans-serif;
  font-weight: 400;
  color: var(--color-white);
  margin-top: 0.5rem;
}

.causes__colums {
  display: grid;
  grid-template-columns: 40.125rem 36rem;
  column-gap: 1.4375rem;
  align-items: flex-end;
  margin-left: 0.1rem;
}
.causes__items {
  width: 100%;
}

.causes__items:first-child .causes__item:nth-child(2) .causes__item-info{
  max-width: 30rem;
}

.causes__items:first-child .causes__item:nth-child(3) .causes__item-info{
  max-width: 23.187rem;
}

.causes__items:first-child .causes__item:nth-child(4) .causes__item-info{
  max-width: 27.68rem;
}

.causes__item {
  position: relative;
  display: flex;
  padding-bottom: 5rem;
  color: var(--color-white);
  overflow: hidden;
}

.causes__item::after {
  position: absolute;
  top: 1rem;
  left: 1.95rem;
  width: 0.1875rem;
  height: 1000%;
  background-color: var(--color-blue);
  content: '';
  z-index: 0;
}

.causes__item:nth-child(even)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='100%25%0A' viewBox='0 0 4 213' fill='none'%3E%3Cpath d='M2 0V213' stroke='%232C62B4' stroke-width='3' stroke-dasharray='5 5'/%3E%3C/svg%3E");
  background-color: transparent;
}

.causes__item:last-child {
  min-height: 14.8125rem;
}

.causes__item-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.06rem;
  height: 4.06rem;
  background: linear-gradient(0deg, rgba(8, 3, 68, 0.85) 0%, rgba(8, 3, 68, 0.85) 100%), #FFF;
  border-radius: 50%;
  font-size: 2.14rem;
  flex-shrink: 0;
  text-align: center;
  line-height: 1.3;
  z-index: 1;
}

.causes__item-number::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  background: linear-gradient(0deg, #2C62B4 0%, #2C62B4 100%), #FFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  content: '';
}

.causes__item-number span {
  position: relative;
  z-index: 2;
}

.causes__item-info {
  margin-left: 1.25rem;
}

.causes__item-info-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.causes__item-info-desc {
  font-size: 1.125rem;
  font-weight: 400;
}

.causes__item-info-add {
  margin-top: 1rem;
  font-size: 1rem;
}


/* portfolio section */

.portfolio {
  position: relative;
  padding: 6.5625rem 0;
}

.portfolio::before {
  position: absolute;
  top: 4.7rem;
  right: 50%;
  transform: translateX(205%);
  width: 30.875rem;
  height: 8.25rem;
  background-image: url('../images/portfolio/lines-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}

.portfolio::after {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-200%);
  width: 30.875rem;
  height: 8.25rem;
  background-image: url('../images/portfolio/lines-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio h2 {
  max-width: 38.1875rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4.1875rem;
}

.portfolio__slider {
  max-width: 82.875rem;
}

.portfolio__slider-two {
  margin-left: auto;
  transform: translate3d(-100%, 0px, 0px);
}

.portfolio__slider-img {
  position: relative;
  border: 0.75rem solid #D9D6D6;
}

.portfolio__slider-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .slick-slide {
  margin: 0 1.25rem;
  padding-bottom: 9%;
}

.portfolio .slick-list {
  overflow: visible;
}

.portfolio .slick-arrow {
  top: -5rem;
  width: 4.91rem;
  height: 4.025rem;
}

.portfolio .slick-arrow:active {
  box-shadow: none;
}

.portfolio .slick-prev {
  right: -9rem;
}

.portfolio .slick-next {
  right: -12rem;
}

.portfolio .slick-arrow.slick-disabled svg{
  fill: #AFAFAF;
}

.portfolio__slider-two {
  margin-top: 2.5625rem;
}

.portfolio__slider-two .slick-arrow {
  display: none !important;
}

.portfolio__btn {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1.1875rem;
  margin: 0 auto;
  margin-top: 3.875rem;
}

.portfolio__btn span {
  display: flex;
  align-items: center;
}

.portfolio__btn svg {
  margin: 0 0.5rem;
}




/* quality section */

.quality {
  padding: 6.5625rem 0;
  background-color: var(--color-dark-blue);
}
.quality h2 {
  max-width: 70.4rem;
  color: var(--color-white);
  margin-bottom: 4.4375rem;
}
.quality__items {
  display: grid;
  grid-template-columns: 53% 45%;
  gap: 1.9375rem 2.4375rem;
}
.quality__item {
  position: relative;
  min-height: 17rem;
  padding: 2.1875rem 2.1875rem 2.1875rem 23.375rem;
  border-radius: 0.5625rem;
  background-color: var(--color-white);
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.35);
}

.quality__item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-row: span 2;
  padding: 24.75rem 7.0625rem 2.1825rem 7.0625rem;
}

.quality__item:nth-child(2) .quality__item-img {
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
}

.quality__item:nth-child(2) .quality__item-info {
  margin-top: auto;
}

.quality__item:nth-child(2) .quality__item-info-btn {
  align-self: center;
}

.quality__item:nth-child(3) .quality__item-img {
  left: -8rem;
}

.quality__item img{
  object-fit: contain;
}

.quality__item:nth-child(1) img{
  width: 17.5625rem;
  height: 26.31rem;
}

.quality__item:nth-child(2) img{
  width: 28.5493rem;
  height: 27.625rem;
}

.quality__item:nth-child(3) img{
  width: 31.75rem;
  height: 21.25rem;
}

.quality__item-img {
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: max-content;
}
.quality__item-info {
  display: flex;
  flex-direction: column;
}
.quality__item-info-title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.31;
  margin-bottom: 1rem;
}
.quality__item-info-desc {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.31;
  margin-bottom: 0.75rem;
}
.quality__item-info-btn {
  align-self: flex-start;
}



/* about-us section */

.about-us {
  padding: 6.5625rem 0;
}

.about-us::before {
  position: absolute;
  top: -5.3rem;
  right: 50%;
  transform: translateX(-75%);
  width: 24.2rem;
  height: 21.4rem;
  background-image: url(../images/about-us/lines-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  z-index: 0;
}

.about-us::after {
  position: absolute;
  top: 2.3rem;
  right: 50%;
  transform: translateX(140%);
  width: 31rem;
  height: 24.56rem;
  background-image: url(../images/about-us/lines-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  z-index: 0;
}

.about-us h2 {
  text-align: center;
}

.about-us__items {
  position: relative;
  max-width: 85.8125rem;
  margin: 0 auto;
  margin-top: -3.8rem;
  z-index: 1;
}
.about-us__item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem;
}
.about-us__item:last-child {
  margin-bottom: 0;
}

.about-us__item:nth-child(odd) {
  display: flex;
  justify-content: flex-end;
}

.about-us__item:nth-child(even) .about-us__item-img{
  order: -1;
}
.about-us__item:nth-child(even) .about-us__item-info {
  align-items: flex-start;
  margin-right: 0;
  margin-left: 2.8125rem;
}
.about-us__item:nth-child(even) .about-us__item-info-text {
  text-align: start;
}
.about-us__item-info {
  max-width: 46.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 6.5625rem;
}
.about-us__item-info-text {
  position: relative;
  font-size: 1.25rem;
  color: var(--color-dark-blue);
  font-weight: 600;
  line-height: 1.31;
  margin-bottom: 4.1875rem;
  text-align: right;
}
.about-us__item-info-text svg {
  display: none;
}
.about-us__item-info-text::before {
  position: absolute;
  left: 0;
  top: -12rem;
  font-size: 8.375rem;
  color: var(--color-dark-blue);
  font-family: "Roboto";
  font-weight: 600;
  content: '“';
  transform: rotate(180deg);
}
.about-us__item-info-user {
  padding: 1.6rem 2rem 1.5rem 2rem;
  border-radius: 5.119px;
  background: #F8F3F3;
  box-shadow: 0px 3.41289px 5.11934px 0px rgba(116, 113, 113, 0.35);
  text-align: center;
}
.about-us__item-info-user-name {
  font-family: 'RussoOne', sans-serif;
  font-weight: 400;
  color: var(--color-blue);
}
.about-us__item-img {
  position: relative;
  width: 28.625rem;
  height: 28.625rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  overflow: hidden;
}

.about-us__item-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* conditions section */

.conditions {
  padding: 6.5625rem 0;
  background-color: var(--color-dark-blue);
}
.conditions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conditions h2 {
  color: var(--color-white);
  text-align: center;
  margin-bottom: 1.875rem;
}
.conditions__desc {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.31;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 3.5rem;
}
.conditions__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4375rem;
  margin-bottom: 2.3125rem;
}
.conditions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5625rem;
  background-color: #FFF;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.35);
  padding: 2.625rem;
}
.conditions__item-img {
  display: flex;
  align-items: center;
  height: 16.5rem;
  margin-bottom: 1.275rem;
}
.conditions__item-title {
  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}
.conditions__item-desc {
  font-size: 1.125rem;
  text-align: center;
}


/* technology section */


.technology {
  padding: 6.5625rem 0;
}

.technology__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology__wrapper::before {
  position: absolute;
  bottom: -22rem;
  left: -23rem;
  width: 48.125rem;
  height: 63.125rem;
  background-image: url('../images/technology/water.png');
  background-size: cover;
  content: '';
  z-index: 3;
}

.technology h2 {
  margin-bottom: 1.875rem;
  text-align: center;
}
.technology__desc {
  font-size: 1.875rem;
  margin-bottom: 3.5rem;
}
.technology__items {
  max-width: 73.875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.625rem;
}
.technology__item {
  position: relative;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5625rem;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.technology__item:first-child::before {
  position: absolute;
  top: 1rem;
  right: -3.8125rem;
  width: 2px;
  height: 110%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='692' viewBox='0 0 2 692' fill='none'%3E%3Cpath d='M1 0L0.99997 692' stroke='%232C62B4' stroke-dasharray='7 7'/%3E%3C/svg%3E");
  content: '';
}
.technology__item:first-child::after {
  position: absolute;
  bottom: -1.75rem;
  right: -26rem;
  width: 43.25rem;
  height: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='692' height='2' viewBox='0 0 692 2' fill='none'%3E%3Cpath d='M0 1H692' stroke='%232C62B4' stroke-dasharray='7 7'/%3E%3C/svg%3E");
  content: '';
}
.technology__item-img {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 0;
}
.technology__item-img img {
  width: 100%;
}
.technology__item-img::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0A012C 100%), transparent -189.323px 0px / 220.111% 115.493% no-repeat;
  content: '';
}
.technology__item-title {
  position: relative;
  width: max-content;
  margin-top: 2.375rem;
  border-radius: 7.188px;
  font-size: 1.6875rem;
  font-weight: 600;
  background: rgba(12, 66, 147, 0.79);
  padding: 1.696rem 1.25rem 1.875rem 1.25rem;
  z-index: 3;
}
.technology__item-title-icon-plus {
  color: #80C269;
}
.technology__item-title-icon-minus {
  color: #FF0303;
}
.technology__item-list {
  position: relative;
  padding: 3.125rem 2.5rem 3.75rem 3.125rem;
  z-index: 3;
}
.technology__item-list-item {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-left: 1.3125rem;
}

.technology__item-list-item::before {
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 0.6875rem;
  height: 0.6875rem;
  border-radius: 50%;
  border: 2px solid var(--color-blue);
  content: '';

}

.technology__item-list-item:last-child {
  margin-bottom: 0;
}


/* review section */

.review {
  position: relative;
  padding: 6.5625rem 0;
  background-color: var(--color-dark-blue);
  overflow: visible;
}

.review::before {
  position: absolute;
  top: -8.7rem;
  right: 50%;
  transform: translateX(158%);
  width: 37.5rem;
  height: 23.5rem;
  background-image: url('../images/review/board.png');
  background-size: cover;
  content: '';
}

.review h2 {
  color: var(--color-white);
  margin-bottom: 2.5rem;
}

.review__slider-img {
  width: 27.6875rem;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.35);
  padding: 3.75rem 1.25rem;
  overflow: hidden;
}

.review__rating {
  display: flex;
  align-items: center;
  margin-bottom: 5.625rem;
  color: var(--color-white);
  font-size: 1.875rem;
}

.review__rating span {
  font-weight: 600;
  margin: 0 0.3rem;
}

.review__rating-location {
  margin-top: -0.5rem;
  margin-left: 0.5rem;
}

.review__slider {
  position: relative;
  margin: 0 -3.75rem;
  z-index: 1;
}

.review .slick-slide {
  margin: 0 3.75rem;
  transition: transform .4s;
}

.review__slider-img.slick-slide.slick-center {
  transform: translateY(-8.125rem);
}

.review .slick-list {
  padding: 0 !important;
  overflow: visible;
}

.review .slick-arrow {
  top: -7rem;
  width: 4.91rem;
  height: 4.025rem;
}

.review .slick-arrow:active {
  box-shadow: none;
}

.review .slick-prev {
  right: 6rem;
}

.review .slick-next {
  right: 2rem;
}

.review .slick-arrow.slick-disabled svg{
  fill: #AFAFAF;
}

.review__logo {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.625rem;
  z-index: 0;
}

.review__logo-img img{
  display: inline-block;
  width: 14.5625rem;
  height: 7.875rem;
}



/* connection section */

.connection {
  position: relative;
  padding: 6.5625rem 0;
  color: var(--color-white);
}

.connection__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 64%;
  object-fit: cover;
  z-index: 0;
}

.connection .container {
  position: relative;
  z-index: 2;
}

.connection__wrapper {
  display: flex;
  justify-content: space-between;
}

.connection__left {
  max-width: 42.5rem;
}

.connection h2 {
  margin-bottom: 2.5rem;
}

.connection__desc {
  font-size: 1.875rem;
  margin-bottom: 2.3125rem;
}

.connection__list-item {
  display: flex;
  margin-bottom: 1.3rem;
}
.connection__list-item:last-child {
  margin-bottom: 0;
}
.connection__list-item-img {
  width: 3.75rem;
  height: 3.75rem;
}
.connection__list-item-text {
  position: relative;
  max-width: 29.375rem;
  padding-left: 2rem;
  margin-top: 0.4rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.connection__list-item-text::before {
  position: absolute;
  top: 0.7rem;
  left: 0.82rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: var(--color-white);
  content: '';
}

.connection__list-item:nth-child(2) .connection__list-item-text{
  margin-top: 1.4rem;
}

.connection__application {
  width: 22.6875rem;
}

.connection__application-title {
  font-family: 'RussoOne', sans-serif;
  font-size: 1.875rem;
  color: var(--color-blue);
  text-align: center;
}

.connection__application-desc {
  font-family: 'RussoOne', sans-serif;
  font-size: 1.5625rem;
  margin-bottom: 2.5625rem;
  text-align: center;
  color: var(--color-black);
}

.connection__application-form {
  font-family: 'Montserrat', sans-serif;
}


.input {
  margin-bottom: 0.8125rem;
}

.input__text {
  color: #898484;
  font-weight: 400;
  margin-bottom: 0.375rem;
}

.input__element {
  width: 100%;
  height: 3.5625rem;
  border: none;
  border-radius: 6.337px;
  background-color: #EDECEC;
  padding: 1rem 1.5625rem 1rem 1.5625rem;
}

.input__element::placeholder {
  color: #474444;
}

.connection__application-form {
  display: flex;
  flex-direction: column;
}

.connection__application-form-label {
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 0.8125rem;
  color: var(--color-black);
  cursor: pointer;
}

.connection__application-form-label input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.connection__application-form-ckeckbox {
  position: relative;
  display: inline-block;
  min-width: 1.8125rem;
  width: 1.8125rem;
  height: 1.8125rem;
  border-radius: 9px;
  border: 1px solid #190141;
  flex-shrink: 0;
  margin-top: 0.3rem;
  margin-right: 1.125rem;

}

.connection__application-form-ckeckbox::after {
  position: absolute;
  display: none;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  width: 0.8937rem;
  height: 0.425rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' viewBox='0 0 15 9' fill='none'%3E%3Cg filter='url(%23filter0_i_27_547)'%3E%3Cpath d='M13.572 1.69336L7.40665 6.94581L0.878603 1.69336' stroke='%232C62B4' stroke-width='1.95455'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_27_547' x='0.265961' y='0.931641' width='13.9398' height='9.88926' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2.60606'/%3E%3CfeGaussianBlur stdDeviation='1.30303'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_27_547'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.connection__application-form-label input:checked + .connection__application-form-ckeckbox::after {
  display: block;
}

.connection__application-form-btn {
  color: var(--color-white);
  margin-top: 2.3125rem;
  align-self: center;
}

.connection__images {
  position: absolute;
  height: 100%;
  width: 42.375rem;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-36%);
}

.connection__image {
  position: absolute;
}

.connection__image--people {
  bottom: 0;
  width: 42.375rem;
  height: 51.3125rem;
  object-fit: contain;
  object-position: bottom;
  z-index: 6;
}

.connection__image--laser {
  top: 4rem;
  left: 4rem;
  width: 8.8125rem;
  height: 9rem;
}

.connection__image--tile {
  bottom: 8rem;
  left: -2rem;
  width: 22rem;
  height: 22rem;
}
.connection__image--tape {
  top: 9rem;
  right: -3rem;
  width: 14.4374rem;
  height: 14.9375rem;
}


/* footer */

.footer {
  padding-top: 6.5625rem;
  padding-bottom: 5rem;
  background-color: var(--color-dark-blue);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__contacts-title {
  color: var(--color-blue);
  margin-bottom: 0.625rem;
}

.footer__contacts-items {
  display: flex;
  gap: 1.875rem;
}

.footer__contacts-item {
  display: flex;
  align-items: center;
}

.footer__contacts-item .icon{
  width: 1.875rem;
  height: 1.875rem;
  order: -1;
}

.footer__contacts-item-link {
  color: var(--color-white) !important;
  margin-left: 0.8125rem;
  font-size: 1rem;
}

a.footer__contacts-item-link:hover + .icon{
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.50) inset;
}

.footer__contacts-item-link span{
  color: #ABAAAA;
}

.error-block {
  min-height: 100vh;
  /* height: 100vh; */
  display: flex;
  align-items: flex-end;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 2.5625rem;
}

.error-block__wrapper {
  width: 40.31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.error-block h2 {
  color: var(--color-white);
  margin-bottom: 1rem;
  text-align: center;
}

.error-block__desc {
  color: var(--color-white);
  font-size: 1.875rem;
  text-align: center;
}

.error-block .btn{
  align-self: center;
}

.error-block__img {
  margin-top: 7.375rem;
}

.error-block__img img {
  width: 40.31225rem;
  height: 23.3125rem;
  object-fit: contain;
}

.gratitude {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-position: center;
}

.gratitude::before {
  position: absolute;
  top: -4rem;
  left: -1rem;
  width: 27.1875rem;
  height: 24.3125rem;
  background-image: url("../images/gratitude/machine.png");
  background-size: cover;
  content: '';
  z-index: 0;
}

.gratitude__box {
  position: relative;
  margin: 0 6.25rem;
}

.gratitude__box::after {
  position: absolute;
  top: -8rem;
  left: 1rem;
  width: 43rem;
  height: 18.25rem;
  background-image: url("../images/gratitude/lines.svg");
  background-size: cover;
  content: '';
  z-index: 0;
}

.gratitude h2 {
  margin-bottom: 2.375rem;
}

.gratitude__desc {
  max-width: 39.875rem;
  font-size: 1.875rem;
}

.gratitude__img-people {
  position: absolute;
  bottom: -6rem;
  right: -15rem;
  width: 109.5625rem;
  height: 73rem;
  object-fit: contain;
}


























@media (min-width: 1921px) {
  html {
    font-size: calc(16px * 1.1334);
  }

  .container {
    max-width: calc(1640px * 1.1334);
  }


  .container-2 {
    max-width: cacl(1744px * 1.1334);
  }
}

@media (max-width: 1599px) {
  html {
    font-size: var(--fs-html);
  }

  .connection__application {
    width: 29rem;
  }
}



@media (max-width: 1365px) {
  html {
    font-size: 16px;
  }

  .connection__application {
    width: 22.6875rem;
  }

  .logo__img {
    width: 6.6875rem;
    height: 3.75rem;
  }

  .logo__text {
    font-size: 0.9rem;
  }

  .intro {
    padding-top: 14rem;
  }

  h1 {
    font-size: 3.2rem;
    margin-bottom: 0.9rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  .desc {
    font-size: 1.6rem;
  }

  .intro__subtitle {
    font-size: 2.5rem;
  }

  .intro__list {
    margin-bottom: 5rem
  }

  .intro__list-item {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }

  .intro__list-item::before {
    top: 0.9rem;
  }

  .intro__desc {
    font-size: 1.675rem;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: column;
  }

  .advantages__wrapper::before {
    display: none;
  }

  .advantages__item.advantages__item--performance {
    transform: translateX(0)
  }

  .advantages__item.advantages__item--performance,
  .advantages__item.advantages__item--years,
  .advantages__item.advantages__item--days {
    padding-left: 15rem;
  }

  .advantages__item.advantages__item--performance .advantages__item-img {
    left: -1rem;
    width: 15.125rem;
  }

  .advantages__item.advantages__item--days .advantages__item-img {
    left: -3rem;
  }

  .services__wrapper::before,
  .services__wrapper::after {
    display: none;
  }

  .services__items {
    gap: 4rem 3.6rem;
    margin-bottom: 4rem;
  }

  .services__item-img {
    width: 20rem;
    height: 20rem;
    left: -5rem;
  }

  .causes__bg-img {
    width: 39.8125rem;
    height: 31.4375rem;
  }

  .causes__colums {
    grid-template-columns: 38.125rem 34rem;
  }

  .causes__title-number {
    font-size: 7rem;
  }

  .portfolio .slick-prev {
    right: 5rem;
  }

  .portfolio .slick-next {
    right: 1rem;
  }

  .portfolio__slider.portfolio__slider-two {
    margin-left: -3rem;
  }

  .about-us__items {
    margin-top: 3rem;
  }

  .about-us__item-img {
    width: 25rem;
    height: 25rem;
  }

  .about-us__item-info {
    margin-right: 3rem;
  }

  .conditions__item-img {
    height: 13rem;
  }

  .conditions__item {
    padding: 2rem;
  }

  .conditions__item-title {
    font-size: 1.2rem;
  }

  .conditions__item-desc {
    font-size: 1.1rem;
  }

  .technology__wrapper::before {
    display: none;
  }

  .review::before {
    display: none;
  }

  .review__rating {
    margin-bottom: 11rem;
  }

  .review .slick-slide {
    margin: 0 2.5rem;
  }

  .connection__image.connection__image--people {
    display: none;
  }

  .connection__image--laser {
    left: 17rem;
  }

  .connection__image.connection__image--tile {
    bottom: -2rem;
    left: 7rem;
  }

  .connection__image.connection__image--tape {
    top: 15rem;
    right: 9rem;
  }

  .about-us::before,
  .about-us::after {
    display: none;
  }

  .gratitude::before {
    display: none;
  }

  .gratitude__img-people {
    bottom: -6rem;
    right: -32rem;
    width: 85rem;
    height: 39rem;
  }

}

@media (max-width: 1299px) {
  .logo__text {
    display: none;
  }

  .header__contacts {
    margin-left: auto;
  }

  .header .icon{
    width: 2.325rem;
    height: 2.325rem;
  }

  .header .icon img {
    width: 55%;
    height: 55%;
  }

  .advantages__item.advantages__item--days .advantages__item-img{
    left: -2rem;
  }

  .services__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2.6rem;
    margin-bottom: 3rem;
  }

  .services__item-img {
    width: 18rem;
    height: 18rem;
    left: -5rem;
  }

  .services__item {
    padding: 2rem 2rem 2rem 11rem;
  }

  .services__item-box-title {
    font-size: 1.2rem;
  }

  .services__items.services__items--two-colm {
    margin-bottom: 3rem;
  }

  .causes__colums {
    grid-template-columns: 35.125rem 31rem;
  }

  .causes__bg-img {
    display: none;
  }

  .quality__items {
    display: flex;
    flex-direction: column;
  }

  .quality__item:nth-child(1) img {
    width: 14.9rem;
    height: 22.31rem;
}

  .quality__item:nth-child(2) {
    flex-direction: row;
    padding: 2.1875rem 2.1875rem 2.1875rem 23.375rem;
  }

  .quality__item:nth-child(2) .quality__item-img {
    top: -2rem;
    left: -5rem;
    transform: translateX(0);
  }

  .quality__item:nth-child(2) .quality__item-img img {
    width: 28.5493rem;
    height: 24.625rem;
  }

  .quality__item:nth-child(2) .quality__item-info-btn {
    align-self: flex-start;
  }

  .quality__item:nth-child(3) img {
    width: 28.75rem;
    height: 18.25rem;
  }

  .conditions__items {
    gap: 2rem;
  }
}

@media (max-width: 1199px) {
  .advantages,
  .services,
  .portfolio,
  .quality,
  .about-us,
  .conditions,
  .technology,
  .review,
  .connection {
    padding: 5.5rem 0;
  }

  .causes {
    padding-top: 5.5rem;
  }

  .causes__colums {
    display: flex;
    flex-direction: column;
  }

  .causes__item:last-child {
    min-height: auto;
  }

  .portfolio__slider-img.slick-slide {
    margin: 0 1rem;
  }

  .portfolio__slider-img.slick-slide {
    border: 0.55rem solid #D9D6D6;
  }

  .about-us__item-info-text {
    margin-bottom: 3rem;
  }

  .about-us__item-info-text::before {
    top: -10rem;
    font-size: 7rem;
  }

  .conditions__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about-us__item-img {
    width: 20rem;
    height: 20rem;
  }

  .conditions__item {
    padding: 1.2rem;
  }

  .review .slick-slide {
    margin: 0 1rem;
  }

  .review__logo-img img {
    width: 11.5625rem
  }

  .review__slider {
    margin: 0;
  }

  .connection__wrapper {
    flex-direction: column;
  }

  .connection__bg-img {
    width: 100%;
  }

  .connection__application {
    width: 100%;
    background-color: var(--color-white);
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 0.45rem
  }

  .gratitude__img-people {
    position: static;
  }

  .gratitude {
    padding-top: 14rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .gratitude .container-2 {
    display: flex;
    flex-direction: ;
    justify-content: center;
  }

  .gratitude__img-people {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: auto;
  }

  .gratitude__box {
    margin: 0;
  }
}

@media (max-width: 1023px) {

  .advantages,
  .services,
  .portfolio,
  .quality,
  .about-us,
  .conditions,
  .technology,
  .review,
  .connection,
  .footer {
    padding: 4.5rem 0;
  }

  .causes {
    padding-top: 4.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .desc {
    font-size: 1.4rem;
  }

  .header__contacts-text {
    display: none;
  }

  .header__wrapper {
    padding: 1.5rem 0;
  }

  .header__telephone {
    gap: 1.2rem
  }

  .intro {
    padding-top: 11rem;
    background-position: 35%;
  }

  h1 {
    font-size: 2.9rem;
    margin-bottom: 0.7rem;
  }

  .intro__subtitle {
    font-size: 2.2rem;
  }

  .intro__list {
    margin-bottom: 5rem
  }

  .intro__list-item {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    padding-left: 2.1rem;
  }

  .intro__list-item::before {
    top: 0.8rem;
  }

  .intro__desc {
    font-size: 1.575rem;
  }

  .advantages__item {
    min-height: 10.5rem;
  }

  .advantages__item.advantages__item--performance,
  .advantages__item.advantages__item--years,
  .advantages__item.advantages__item--days {
    padding-left: 13rem;
  }

  .advantages__item.advantages__item--performance .advantages__item-img{
    width: 13rem;
  }

  .advantages__item.advantages__item--years .advantages__item-img,
  .advantages__item.advantages__item--days .advantages__item-img {
    height: 110%;
  }

  .advantages__item.advantages__item--days .advantages__item-img{
    left: -1rem;
  }

  .services__desc {
    margin-bottom: 3.6rem;
  }

  .services__items {
    gap: 2rem 1.6rem;
    margin-bottom: 2rem;
  }

  .services__item {
    min-height: 8.5rem;
  }

  .services__item-img {
    width: 17rem;
    height: 17rem;
    left: -4rem;
  }

  .services__items.services__items--two-colm {
    margin-bottom: 2rem;
  }

  .services__item-box-simple {
    height: 1.4rem;
    width: 8rem;
  }

  .causes__wrapper {
    margin-left: 0;
  }

  .causes__title {
    margin-bottom: 4rem;
  }

  .causes__title-number {
    font-size: 6rem;
  }

  .portfolio .slick-arrow,
  .review .slick-arrow {
    top: -3.5rem;
    width: 3.91rem;
    height: 3.025rem;
  }

  .portfolio .slick-prev {
    right: 3rem;
  }

  .portfolio .slick-next {
    right: 0rem;
  }

  .portfolio__slider-two {
    margin-top: 2rem;
  }

  .quality .quality__item {
    padding: 2.1875rem 2.1875rem 2.1875rem 20.375rem;
  }

  .quality__item:nth-child(2) .quality__item-img {
    top: 1rem;
    left: -3rem;
  }

  .quality__item:nth-child(2) .quality__item-img img {
    width: 23.5493rem;
    height: 19.625rem;
  }

  .about-us__item-img {
    width: 18rem;
    height: 18rem;
  }

  .about-us__item-info-text {
    font-size: 1.15rem;
    margin-bottom: 2rem;
  }

  .about-us__item-info-text::before {
    top: -8rem;
    font-size: 6rem;
  }

  .about-us__item-info-user {
    padding: 1.4rem 1.8rem 1.3rem 1.8rem;
  }

  .conditions__items {
    gap: 1.3rem;
    margin-bottom: 1.4rem;
  }

  .conditions__item {
    padding: 1.3rem;
  }

  .conditions__item-img {
    height: 10rem;
    margin-bottom: 1.2rem;
  }

  .conditions__item-desc {
    font-size: 1rem;
  }

  .technology__items {
    gap: 4rem;
  }

  .technology__item {
    height: 37rem;
  }

  .technology__item:first-child::before {
    right: -2.1125rem;
  }

  .technology__item:first-child::after {
    right: -25rem;
  }

  .technology__item-title {
    font-size: 1.4rem;
    padding: 1.496rem 1.05rem 1.375rem 1.05rem;
    margin-top: 1.3rem;
  }

  .technology__item-list {
    padding: 2.325rem 2.1rem 3.35rem 2.325rem;
  }

  .technology__item-list-item {
    font-size: 1.1rem;
  }

  .technology__item-list-item::before {
    top: 0.4rem;
  }

  .review__rating {
    margin-bottom: 8rem;
  }

  .review__slider-img.slick-slide.slick-center {
    transform: translateY(-6.125rem);
  }

  .review__logo {
    bottom: 1.65rem;
    width: 80%;
  }

  .review__logo-img img {
    width: 9.5625rem;
  }

  .review__slider-img {
    padding: 2.2rem 0.25rem;
  }

  .connection__list-item-text {
    font-size: 1.05rem;
  }

  .connection__list-item-text::before {
    top: 0.5rem;
  }

  .connection__list-item-img {
    width: 3.25rem;
    height: 3.25rem;
  }

  .footer__wrapper,
  .footer__contacts,
  .footer__contacts-items {
    flex-direction: column;
    align-items: center;
  }

  .footer__contacts {
    margin-top: 3rem;
  }

  .footer__contacts-title {
    margin-bottom: 1.3rem;
  }

  .footer__contacts-items {
    gap: 1.2rem;
  }

  .error-block__img {
    margin-top: 4rem;
  }

  .error-block__img img {
    width: 32rem;
  }

}

@media (max-width: 767px) {

  .advantages,
  .services,
  .portfolio,
  .quality,
  .about-us,
  .conditions,
  .technology,
  .review,
  .connection,
  .footer {
    padding: 3.5rem 0;
  }

  .causes {
    padding-top: 4.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .desc {
    font-size: 1.25rem;
  }

  .container,
  .container-2 {
    padding: 0 16px;
  }

  .btn {
    font-size: 0.9rem;
  }

  .intro {
    padding-top: 11rem;
  }

  h1 {
    font-size: 2.6rem;
    margin-bottom: 0.7rem;
  }

  .intro__subtitle {
    font-size: 1.9rem;
  }

  .intro__list {
    margin-bottom: 4.2rem
  }

  .intro__list-item {
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
  }

  .intro__list-item::before {
    top: 0.6rem;
    width: 0.3rem;
    height: 0.3rem;
  }

  .intro__desc {
    font-size: 1.3rem;
  }

  .advantages__wrapper {
    gap: 1.5rem;
  }

  .advantages__item {
    min-height: 8.5rem;
  }

  .advantages__item.advantages__item--performance,
  .advantages__item.advantages__item--years,
  .advantages__item.advantages__item--days {
    padding: 1.5rem 1rem 1rem 10rem;
  }

  .advantages__item.advantages__item--performance .advantages__item-img{
    width: 10rem;
  }

  .advantages__item.advantages__item--years .advantages__item-img,
  .advantages__item.advantages__item--days .advantages__item-img {
    height: 100%;
  }

  .advantages__item-info-title {
    font-size: 1.6rem;
  }

  .advantages__item-info-desc {
    font-size: 1.1rem;
  }

  .services__desc {
    margin-bottom: 3.2rem;
  }

  .services__items {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .services__item {
    width: 100%;
    padding: 2rem 1rem 2rem 8.6rem;
  }

  .services__item-img {
    width: 13rem;
    height: 13rem;
    left: -3.2rem;
  }

  .causes__title-number {
    font-size: 5.5rem;
  }

  .portfolio__slider-two {
    margin-top: 1rem;
    transform: translate3d(-200%, 0px, 0px);
  }

  .portfolio__slider-img.slick-slide {
    margin: 0 0.5rem;
  }

  .portfolio__slider.portfolio__slider-two {
    margin-left: 0rem;
  }

  .quality__title {
    margin-bottom: 3.5rem;
  }

  .quality__items {
    gap: 1rem;
  }

  .quality .quality__item {
    padding: 1.5rem 1.5rem 1.5rem 16.375rem;
  }

  .quality__item-info-title {
    font-size: 1.275rem;
  }

  .quality__item-info-desc {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .quality__item:nth-child(1) img {
    width: 11.9rem;
    height: 17.8rem;
  }

  .quality__item:nth-child(2) .quality__item-img {
    top: 4rem;
    left: -2rem;
  }

  .quality__item:nth-child(2) .quality__item-img img {
    width: 18.5493rem;
    height: 14.625rem;
  }

  .quality__item:nth-child(3) .quality__item-img {
    left: -6rem;
  }

  .quality__item:nth-child(3) img {
    width: 23.75rem;
    height: 13.25rem;
  }

  .about-us__item-img {
    width: 15rem;
    height: 15rem;
  }

  .about-us__item-info {
    margin-right: 1.5rem;
  }

  .about-us__item:nth-child(even) .about-us__item-info {
    margin-left: 1.5rem;
  }

  .about-us__item-info-text {
    font-size: 1rem;
  }

  .about-us__item-info-text::before {
    top: -7rem;
    font-size: 5rem;
  }

  .about-us__item-info-user {
    padding: 1.2rem 1.6rem 1.1rem 1.6rem;
    font-size: 0.9rem;
  }

  .conditions__desc {
    margin-bottom: 3.2rem;
  }

  .conditions__items {
    gap: 1rem;
    margin-bottom: 0.9rem;
  }

  .conditions__item-img {
    height: 8rem;
  }

  .conditions__item-title {
    font-size: 1.1rem;
  }

  .conditions__item-desc {
    font-size: 0.9rem;
  }

  .technology__desc {
    margin-bottom: 3.2rem;
  }

  .technology__items {
    gap: 1rem
  }

  .technology__item {
    height: 28rem;
  }

  .technology__item-title {
    font-size: 1.2rem;
    padding: 1.296rem 0.85rem 1.175rem 0.85rem;
  }

  .technology__item-list {
    padding: 1.5rem 1.5rem 2.35rem 1.5rem;
  }

  .technology__item:first-child::before {
    right: -0.92rem;
    height: 105%;
  }

  .technology__item:first-child::after {
    right: -80%;
    bottom: -1.1rem;
    width: 160%;
  }

  .technology__item-list-item {
    font-size: 1rem;
  }

  .technology__item-list-item::before {
    top: 0.2rem;
  }

  .review__rating {
    font-size: 1.3rem;
  }

  .review__rating-location {
    height: 2.6rem;
  }

  .review__slider-img.slick-slide.slick-center {
    transform: translateY(0);
  }

  .review__logo {
    position: relative;
    margin-top: 2rem;
  }

  .review__rating {
    margin-bottom: 5rem;
  }

  .review .slick-slide {
    margin: 0 0.5rem;
  }

  .connection__application-title {
    font-size: 1.6rem;
  }

  .connection__application-desc {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .error-block__wrapper {
    width: auto;
  }

  .error-block__img {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .error-block__img img{
    width: 100%;
    height: auto;
  }

  .gratitude__box::after {
    display: none;
  }

}

@media (max-width: 650px) {
  .services__items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .services__item {
    padding: 1.5rem 1rem 1.5rem 12rem;
    min-height: 6.5rem;
  }

  .services__item-img {
    width: 13rem;
    height: 13rem;
    left: -1rem;
  }

  .causes__item {
    padding-bottom: 3rem;
  }

  .causes__item::after {
    left: 1.65rem;
  }

  .causes__title {
    margin-bottom: 3rem;
  }

  .causes__title-number {
    font-size: 4.8rem;
  }

  .causes__item-number {
    width: 3.4rem;
    height: 3.4rem;
    font-size: 1.7rem;
  }

  .causes__item-number::before {
    width: 2.6rem;
    height: 2.6rem;
  }

  .quality .quality__item {
    min-height: 14rem;
    padding: 1rem 1rem 1rem 12.375rem;
  }

  .quality__item-info-title {
    font-size: 1.1rem;
  }

  .quality__item-info-desc {
    font-size: 0.9rem;
  }

  .quality__item:nth-child(1) img {
    width: 9.9rem;
    height: 14.8rem;
  }

  .quality__item:nth-child(2) .quality__item-img img {
    width: 14.5493rem;
    height: 10.625rem;
  }

  .quality__item:nth-child(3) .quality__item-img {
    left: -5rem;
  }

  .quality__item:nth-child(3) img {
    width: 18.75rem;
    height: 10.25rem;
  }

  .about-us__items {
    margin-top: 4rem;
  }

  .about-us__item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
  }

  .about-us__item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .about-us__item .about-us__item-img {
    order: -1;
  }

  .about-us__item:nth-child(even) .about-us__item-info {
    margin-left: 0;
  }

  .about-us__item:nth-child(even) .about-us__item-info {
    align-items: center;
  }

  .about-us__item-img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 3rem;
  }

  .technology__items {
    display: flex;
    flex-direction: column;
  }

  .technology__item {
    overflow: hidden;
  }

  .technology__item-img {
    right: 0;
    left: 0;
    width: 100%;
  }

  .technology__item-img img {
    width: 100%;
  }

  .technology__item:first-child::before,
  .technology__item:first-child::after {
    display: none;
  }

  .header__contacts {
    position: absolute;
    right: 0rem;
    top: 24rem;
    flex-direction: column;
    background-color: #F3F3F3;
    padding: 0.55rem 1rem 0.55rem 0.35rem;
    border-radius: 0.6rem 0 0 0.6rem;
  }
}


@media (max-width: 533px) {
  .conditions__items {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 499px) {

  .advantages,
  .services,
  .portfolio,
  .quality,
  .about-us,
  .conditions,
  .technology,
  .review,
  .connection,
  .footer {
    padding: 3rem 0;
  }

  .causes {
    padding-top: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .desc {
    font-size: 1.15rem;
  }

  .intro {
    background-position: 35%;
  }

  h1 {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
  }

  .intro__subtitle {
    font-size: 1.8rem;
  }

  .intro__list {
    margin-bottom: 4rem
  }

  .intro__list-item {
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
  }

  .intro__list-item::before {
    top: 0.5rem
  }

  .intro__desc {
    font-size: 1.1rem;
  }

  .advantages__item {
    min-height: 7.5rem;
  }

  .advantages__item.advantages__item--performance,
  .advantages__item.advantages__item--years,
  .advantages__item.advantages__item--days {
    padding: 1rem 1rem 1rem 10rem;
  }

  .advantages__item.advantages__item--years .advantages__item-img {
    left: 0.3rem;
  }

  .advantages__item.advantages__item--days .advantages__item-img {
    left: 0rem;
    bottom: 0;
  }

  .advantages__item-info-title {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }

  .advantages__item-info-desc {
    font-size: 1rem;
  }

  .services__item-box-title {
    font-size: 1rem;
  }

  .causes__title-number {
    margin-right: 1rem;
  }

  .portfolio__slider-img.slick-slide {
    border: 0.35rem solid #D9D6D6;
  }

  .portfolio__btn {
    margin-top: 3rem;
  }

  .portfolio__btn svg{
    width: 5%;
  }

  .quality__item img{
    display: none;
  }

  .quality .quality__item {
    padding: 1rem 1rem 1rem 1rem;
  }

  /* .quality__item:nth-child(1) img {
    width: 8.9rem;
    height: 13.3rem;
  }

  .quality__item:nth-child(2) .quality__item-img img {
    width: 12.5493rem;
    height: 8.625rem;
  }

  .quality__item:nth-child(3) img {
    width: 15.75rem;
    height: 8.25rem;
  }

  .quality__item:nth-child(3) .quality__item-img {
    left: -4.5rem;
  } */

  .connection__application {
    padding: 1rem;
  }

  .error-block {
    align-items: center;
  }
}

@media (max-width: 413px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .intro__subtitle {
    font-size: 1.6rem;
  }

  .intro__list {
    margin-bottom: 3rem
  }

  .intro__list-item {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }

  .intro__list-item::before {
    top: 0.5rem
  }

  .intro__desc {
    font-size: 1.1rem;
  }

  .advantages__item.advantages__item--performance,
  .advantages__item.advantages__item--years,
  .advantages__item.advantages__item--days {
    padding: 1rem 1rem 1rem 8rem;
  }

  .advantages__item.advantages__item--performance .advantages__item-img,
  .advantages__item.advantages__item--years .advantages__item-img,
  .advantages__item.advantages__item--days .advantages__item-img {
    height: 90%;
  }

  .advantages__item.advantages__item--performance .advantages__item-img {
    width: 8rem;
  }

  .services__items {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .services__item {
    padding: 1.5rem 1rem 1.5rem 8.6rem;
  }

  .services__item-img {
    width: 13rem;
    height: 13rem;
    left: -3.2rem;
  }

  .causes__item-info-title {
    font-size: 1.15rem;
  }

  .causes__item-info-desc {
    font-size: 1rem;
  }
}

@media (max-width: 359px) {
  html {
    font-size: 14px;
  }
}
